@media print {
	/* Hide unnecessary elements */
	body {
		background: #fff;
	}

	form, button {
		display: none;
	}

	#qr-code-container {
		margin-top: 0;
		margin-bottom: 0;
	}

	/* Show QR code in full size */
	#qr-code-image {
		width: 100%;
		height: auto;
	}
}
