@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

:root {
	--bg-color0: #131313;
	--bg-color1: #1e1e1e;
	--bg-color2: #292929;
	--bg-color3: #383838;
	--text-color: #f2f2f2;
	--qr-code-color: #f2f2f2;
	--font-family: 'Roboto', system-ui;
	--font-weight: 300;
	--font-size: 1em;
	--spacing: 1rem;
}

* {
	font-size: var(--font-size);
	align-items: center;
	font-weight: 300;
	color: var(--text-color);
	font-family: var(--font-family);
}

body {
	background: var(--bg-color1);
	margin: 0;
	padding: 0;
}

main {
	width: min(128ch, calc(100% - 4rem));
	margin-inline: auto;
	padding: 1.5rem;
}

header {
	background-color: var(--bg-color0);
	padding: var(--spacing);
	display: flex;
	justify-content: flex-end;
}

header a {
	font-size: 1.5em;
	margin-left: 1rem;
	transition: color 300ms ease-in-out;
}

strong {
	font-weight: 500;
}

h1 {
	display: flex;
	text-align: center;
	justify-content: center;
	font-weight: 900;
	font-size: 2.5em;
}

/* Center the form horizontally and vertically */
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Style the form label and input fields */
label {
	display: block;
	font-size: 1em;
	margin-bottom: var(--spacing);
}

input {
	padding: 0.5rem;
	border-color: #232323;
	font-size: 1em;
	width: 100%;
	border-radius: .5em;
	max-width: 18.75em;
	background-color: var(--bg-color2);
	margin-bottom: var(--spacing);
	transition: background-color 125ms ease-in-out;
}

input:focus {
	outline: none;
	background-color: var(--bg-color3);
}

/* Style the button */
button {
	padding: .5em 1em;
	font-weight: 400;
	background-color: #007bff;
	border-color: #0F4D8F;
	border-radius: .5em;
	cursor: pointer;
	transition: background-color 300ms ease-in-out;
	margin-bottom: var(--spacing);
}

button:hover {
	background-color: #0062cc;
}

#export-btn {
	transition: background-color 300ms ease;
}

#export-btn.error {
	background-color: #ff4800;
}

footer {
	background-color: #1313137f;
	text-align: center;
	padding: 1.5rem;
	font-size: 0.875em;
}

a {
	color: #007bff;
	transition: color 250ms ease-in-out;
}

a:hover {
	color: #ff4800;
}

/* Style the QR code container */
#qr-code-container {
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: var(--spacing);
}

/* Style the generated QR code image */
#qr-code-image {
	background-color: var(--qr-code-color);
}

::selection {
	background-color: var(--bg-color3);
}

code {
	break-after: avoid;
	break-before: avoid;
	font-family: 'Inconsolata', 'Courier New', Courier, monospace;
}

#twemoji-container {
	font-size: 16px;
	height: 1%;
}